<!DOCTYPE html>
<html>
  <head>
    <title>CMS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="background: url('<%= image_url 'hero_section.png' %>') no-repeat, linear-gradient(90deg, rgba(145,232,145,0.9262298669467787) 0%, rgba(253,187,45,1) 100%) center;">
    <main class="container mx-auto mt-28 px-25">
        <%= yield %>
    </main>
  </body>
</html>
