<!DOCTYPE html>
<html>
  <head>
    <title>CRB</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="background: url('<%= image_url 'hero_section.png' %>'); background-repeat: no-repeat; background-color: RGB(199, 182, 0)">
    <main class="container mx-auto mt-28 pl-20 pr-5 flex">
        <%= yield %>
    </main>
  </body>
</html>
